<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/Hitorial_TK.css">
    <link rel="stylesheet" href="../resources/css/FormBasic.css">
    <link rel="stylesheet" href="../resources/css/header.css">
    <title>Historial</title>
</head>
<body>
    <%- include('../header')%>
    <div class="Historial_Tokens">
        <table id="Historial_Tokens_Table" class="Historial_Tokens_Table">
            <caption>Historial De Tokens Generados</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Token</th>
                    <th>Fecha de Generacion</th>
                </tr>
            </thead>
            <tbody>
                <% tokens.forEach((token, index) => { %>
                    <tr class="<%= index % 2 === 0 ? 'Seccion_Impar' : 'Seccion_Par' %>">
                        <td><%= token.id %></td>
                        <td class="Token_Act"><p><%= token.tokenActual %></p></td>
                        <td><%= token.fechaGeneracion %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="Formularios_DTE_P2">
            <div class="Botones_Principales_Formulario">
                <div class="Btn_Atras">
                    <a id="btn-Atras" href="/token" class="btn-Atras">Generar un Token</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>